@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');


html {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Secular One', sans-serif;
    overflow: auto;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
}

h2 {
    font-size: 1em;
    font-weight: bolder;
}

i {
    font-style: italic;
}

b {
    font-weight: bold;
}

em {
    font-style: italic;
}

/* ================================== POPUP ==================================== */

.popup {
    z-index: 9;
    position: absolute;
    top: 70px;
    right: 10px;

    background-color: #dbd6c3;
    visibility: hidden;
    opacity: 0.8;
    height: auto;
    width: auto;

    border-radius: 10px;
    text-align: center;
}

.popup .cross {
    width: 20px;
    position: absolute;
    top: 3px;
    right: 3px;
}

.popup .cross:hover {
    width: 22px;
    cursor: pointer;
}

.popup h1 {
    margin-top: 5px;
}

.popup .contact_table {
    text-align: left;
    width: 30em;
    height: 16em;
    margin: 20px auto auto 20px;
}

.popup .contact_table tr {
    width: 20px;
    vertical-align: middle;
}

.popup .contact_table tr p {
    padding: 0;
}

.popup .contact_table tr td {
    vertical-align: middle;
}

.popup .contact_table tr ul {
    display: flex;
}

.popup .contact_table tr ul li {
    list-style: none;
}

.popup .contact_table tr ul li a {
    display: flex;
}

.popup table tr .phone, .email {
    color: orangered;
}

.popup table tr .phone, .email:hover {
    color: #29b4a9;
}

.popup .contact_table tr td ul .logo {
    margin-right: 10px;
}

.popup .contact_table tr td ul .logo img {
    width: 45px;
    height: 45px;
}

.popup .contact_table tr td ul .logo img:hover {
    opacity: 0.7;
    cursor: pointer;
}

/* ================================== HEADER ==================================== */


header {
    width: 100%;
    height: 50%;
}

header .fixed_head {
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 1.7em;
    z-index: 10;
    font-size: 1.5em;
    color: white;
    padding-top: 0.7em;
    background-color: black;
    opacity: 0.6;
}

header .fixed_head .fixed_center_container {
    width: 70%;
    display: table;
    margin: 0 auto;
}

header .fixed_head .fixed_center_container .logo {
    width: 35%;
    margin-left: 0;
    text-align: center;
    display: table-cell;
}

header .fixed_head .fixed_center_container .menu {
    width: 65%;
    list-style: none;
    display: table-cell;
}

header .fixed_head .fixed_center_container .menu ul li {
    display: inline;
    padding: 2px;
    margin-right: 1.5em;
}

header .fixed_head .fixed_center_container li:hover {
    color: black;
    cursor: pointer;
    opacity: 0.9;
    background-color: #ccd7e3;
    box-shadow: 6px 6px #976a67,
    5px 5px #976a67;
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px);
}

header .my_information {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

header .my_information .my_photo img {
    text-align: center;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    opacity: 0.88;
}

header .my_information .my_photo img:hover {
    cursor: pointer;
}

header .my_information .text_information .name_surname {
    color: #e0d3d3;
    font-size: 1.6em;
}

header .my_information .text_information .job {
    color: #fdbaba;
    font-size: 1.3em;
}

/* ================================== MAIN ==================================== */

main {
    width: 100%;
    height: 45%;
    text-align: center;
}

main .main_information {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main .main_information h1 {
    margin-top: 20px;
}

main .main_information section {
    width: 50%;
    height: 60%;
    border: 2px solid lightgray;
    border-radius: 20px;
    margin: 10px;
    color: #e5e5e5;
    background-color: rgba(54, 25, 25, .1);
}

main .main_information .information {
    width: 100%;
    height: 80%;
    display: table;
    text-align: center;
}

main .main_information .information article {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
}

/* ================================== ABOUT ==================================== */


main .main_information .about_section {
    width: 30em;
    height: 10em;
    font-size: 1.25em;
    box-shadow: 7px 7px #976a67,
    5px 5px #976a67;
}

/* ================================== EXPERIENCE ==================================== */


main .main_information .experience_section {
    width: 40em;
    height: 20em;
    box-shadow: 7px 7px #2a4a55,
    5px 5px #2a4a55;
}

main .main_information .experience_section .information dl {
    margin-top: 20px;
    text-align: left;
    margin-left: 10px;
    font-size: 1.25em;
}

main .main_information .experience_section .information dl dt {
    margin-top: 20px;
}

main .main_information .experience_section .information dl dd {
    margin-left: 15px;
}


/* ================================== PROJECTS ==================================== */


main .main_information .projects_section {
    width: 49em;
    height: 20em;
    font-size: 1.2em;
}

main .main_information .projects_section .information dl {
    margin-top: 20px;
    text-align: left;
    margin-left: 2%;
}

main .main_information .projects_section .information dl dt {
    margin-top: 25px;
}

main .main_information .projects_section .information dl dt a {
    color: #cda791;
    font-weight: bold;
}

main .main_information .projects_section .information dl dt a:hover {
    color: #ffbdbd;
}

main .main_information .projects_section .information dl dd {
    margin-left: 15px;
}

/* ================================== ACHIEVEMENTS ==================================== */


main .main_information .achievements_section {
    width: 30em;
    height: 20em;
}

main .main_information .achievements_section .information {
    list-style-type: decimal;
    font-size: 1.1em;
}


/* ================================== FOOTER ==================================== */


footer {
    width: 100%;
    height: 3%;
    background-color: black;
    z-index: 10;
    position: fixed;
    bottom: 0;
    opacity: 0.6;
    text-align: center;
    padding: 0;
}

footer .rights {
    height: 100%;
    color: white;
    margin: 0 auto;
    display: table;
}

footer .rights span {
    display: table-cell;
    vertical-align: middle;
    font-size: 1em;
}